In [1]:
from bs4 import BeautifulSoup
from selenium import webdriver
from tqdm import tqdm_notebook
from time import sleep
import pandas as pd
import numpy as np
import re
import math
import datetime

In [2]:
driver_path = "drivers/chromedriver.exe"
driver = webdriver.Chrome(executable_path=driver_path)

# STATIZ에서 공격지표 크롤링

In [3]:
team_o = []
run_o = []
year_o = []

for year in tqdm_notebook(range(1982, 2020)):
    url = "http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys={year}&ye={year}&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=5&tr=&cv=&ml=1&sn=30&si=&cn="
    driver.get(url.format(year=year))
    html = driver.page_source
    soup = BeautifulSoup(html, "lxml")
    soup_rcd = soup.find_all("tbody")[1].find_all("td")
    for i in range(1,len(soup_rcd)//31):
        count_t = i*31+1
        count_r = i*31+7
        team_o.append(soup_rcd[count_t].get_text())
        run_o.append(int(soup_rcd[count_r].find("span").get_text()))
        year_o.append(year)

HBox(children=(IntProgress(value=0, max=38), HTML(value='')))

# DATAFRAME 만들기

In [4]:
df_o = pd.DataFrame({'year':year_o, 'team':team_o, 'run_o':run_o})

# STATIZ에서 수비지표 크롤링

In [5]:
year_d = []
team_d = []
run_d = []

for year in tqdm_notebook(range(1982, 2020)):
    url = "http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=1&ys={year}&ye={year}&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR&o2=OutCount&de=1&lr=5&tr=&cv=&ml=1&sn=30&si=&cn="
    driver.get(url.format(year=year))
    html = driver.page_source
    soup = BeautifulSoup(html, "lxml")
    soup_rcd = soup.find_all("tbody")[1].find_all("td")
    for i in range(1, len(soup_rcd)//33):
        count_t = i*33+1
        count_r = i*33+13
        year_d.append(year)
        team_d.append(soup_rcd[count_t].get_text())
        run_d.append(int(soup_rcd[count_r].find("span").get_text()))

HBox(children=(IntProgress(value=0, max=38), HTML(value='')))

# DATAFRAME 만들기

In [6]:
df_d = pd.DataFrame({"year":year_d, "team": team_d, "run_d":run_d})

# KBO 홈페이지에서 승패기록 크롤링

In [7]:
year_list = [1980, 1990, 2000, 2010]
year_wl = []
team_wl = []
win = []
lose = []

for year in tqdm_notebook(year_list):
    url = "https://www.koreabaseball.com/Record/History/Team/Record.aspx?startYear={year}&halfSc=T"
    driver.get(url.format(year=year))
    html = driver.page_source
    soup = BeautifulSoup(html, "lxml")
    soup_rcd = soup.find_all("table")
    for i in range(len(soup_rcd)):
        for j in range(len(soup_rcd[i].find_all("th", scope="row"))):
            year_wl.append(int(soup_rcd[i].find_all("th", scope="col")[0].get_text()))
            team_wl.append(soup_rcd[i].find_all("th", scope="row")[j].get_text())
            win.append(int(soup_rcd[i].find_all("td")[j*7+1].get_text()))
            lose.append(int(soup_rcd[i].find_all("td")[j*7+2].get_text()))

HBox(children=(IntProgress(value=0, max=4), HTML(value='')))

# DATAFRAME 만들기

In [8]:
df_wl = pd.DataFrame({"year":year_wl, "team":team_wl, "win":win, "lose":lose})

# 데이터 전처리

In [9]:
df_wl["team"] = df_wl["team"].apply(lambda e: e.split(" ")[0])
df_o = df_o.replace({"삼미/청보":"청보", "해태/KIA":"KIA", "kt":"KT"})
df_d = df_d.replace({"삼미/청보":"청보", "해태/KIA":"KIA", "kt":"KT"})
df_wl = df_wl.replace({"":"히어로즈", "우리":"히어로즈"})

# DATAFRAME 합치기

In [10]:
df_1 = pd.merge(df_o, df_d)
df_last = pd.merge(df_1, df_wl)

# 승률 및 피타고리안 승률 계산/추가

In [11]:
df_last["winning_rate"] = df_last["win"]/(df_last["win"]+df_last["lose"])
df_last["Pythagorean"] = (df_last["run_o"]^2)/((df_last["run_o"]^2) + (df_last["run_d"]^2))

In [12]:
df_last

     year team  run_o  run_d  win  lose  winning_rate  Pythagorean
0    1982  MBC    419    350   46    34      0.575000     0.545098
1    1982   삼성    429    257   54    26      0.675000     0.624638
2    1982   OB    399    318   56    24      0.700000     0.556802
3    1982   해태    374    388   38    42      0.475000     0.488189
4    1982   롯데    353    385   31    49      0.387500     0.478437
5    1982   삼미    302    574   15    65      0.187500     0.344037
6    1983   삼성    448    418   46    50      0.479167     0.519630
7    1983   해태    423    390   55    44      0.555556     0.520396
8    1983  MBC    405    335   55    43      0.561224     0.550000
9    1983   OB    418    432   44    55      0.444444     0.489412
10   1983   롯데    370    464   43    56      0.434343     0.441247
11   1983   삼미    345    372   52    47      0.525253     0.481276
12   1984   삼성    435    379   55    45      0.550000     0.534568
13   1984   롯데    405    390   50    48      0.510204     0.511950
14   1984   OB    382    298   58    41      0.585859     0.562130
15   1984   해태    369    398   43    54      0.443299     0.483703
16   1984  MBC    375    374   51    48      0.515152     0.500671
17   1984   삼미    334    461   38    59      0.391753     0.417610
18   1985   삼성    552    379   77    32      0.706422     0.595059
19   1985   해태    483    465   57    52      0.522936     0.507384
20   1985   청보    416    607   39    70      0.357798     0.408602
21   1985   OB    473    416   51    57      0.472222     0.531915
22   1985   롯데    426    420   59    51      0.536364     0.501182
23   1985  MBC    345    408   44    65      0.403670     0.458388
24   1986   삼성    475    369   70    37      0.654206     0.560427
25   1986   해태    474    372   67    37      0.644231     0.557920
26   1986  MBC    434    361   59    41      0.590000     0.543396
27   1986  빙그레    333    467   31    76      0.289720     0.418750
28   1986   OB    369    341   56    48      0.538462     0.519608
29   1986   롯데    373    360   50    52      0.490196     0.508820
..    ...  ...    ...    ...  ...   ...           ...          ...
273  2017   두산    849    678   84    57      0.595745     0.557302
274  2017  KIA    906    743   87    56      0.608392     0.549544
275  2017   NC    786    745   79    62      0.560284     0.512084
276  2017   넥센    789    764   69    73      0.485915     0.508028
277  2017   SK    761    767   75    68      0.524476     0.499346
278  2017   롯데    743    701   80    62      0.563380     0.513158
279  2017   한화    736    820   61    81      0.429577     0.473077
280  2017   삼성    757    911   55    84      0.395683     0.455036
281  2017   LG    699    677   69    72      0.489362     0.506541
282  2017   KT    655    876   50    94      0.347222     0.426519
283  2018   두산    944    756   93    51      0.645833     0.555164
284  2018  KIA    865    826   70    74      0.486111     0.512714
285  2018   롯데    821    846   68    74      0.478873     0.493701
286  2018   SK    829    729   78    65      0.545455     0.532010
287  2018   넥센    825    780   75    69      0.520833     0.513984
288  2018   LG    788    816   68    75      0.475524     0.491294
289  2018   삼성    776    802   68    72      0.485714     0.493029
290  2018   KT    757    834   59    82      0.418440     0.477058
291  2018   한화    729    761   77    67      0.534722     0.489290
292  2018   NC    660    844   58    85      0.405594     0.438992
293  2019   키움    214    165   22    15      0.594595     0.559367
294  2019   NC    198    158   22    13      0.628571     0.556818
295  2019   두산    207    130   25    12      0.675676     0.615616
296  2019   한화    177    178   16    18      0.470588     0.504225
297  2019   삼성    164    184   12    23      0.342857     0.471591
298  2019   LG    154    126   21    14      0.600000     0.550725
299  2019  KIA    159    226   12    22      0.352941     0.412073
300  2019   SK    165    154   24    11      0.685714     0.523511
301  2019   롯데    165    227   12    23      0.342857     0.426020
302  2019   KT    143    198   11    26      0.297297     0.418398

[303 rows x 8 columns]

# CSV로 저장

In [13]:
df_last.to_csv("winning_rate_KBO.csv", index = False)